.qrCode {
    -fx-end-margin: auto;
    -fx-start-margin: auto;
}

.root {
    -fx-background-color: #f2f2f2;
}

#scanLb {
    -fx-font-size: 18px;
}

.avatar {
    -fx-padding: 10px;
    -fx-background-color: red;
}

.expressions {
    -fx-background-image: url("/sources/icons.png");
    -fx-background-position: -404px -398px;
    -fx-background-size: 487px 462px;
}

.cuts {
    -fx-background-image: url("/sources/icons.png");
    -fx-background-position: -30px -432px;
    -fx-background-size: 487px 462px;
}

.files {
    /*-fx-background-image: 'sources/icons.png';*/
    /*-fx-background-position: -404px -398px;*/
    /*-fx-background-size: 487px 462px;*/
}

.sendBtn {
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-text-fill: #e85347;
}

.bubbles {
    -fx-border-width: 1;
    -fx-border-color: #dddddd;
    -fx-border-radius: 3;
    -fx-start-margin: 10px;
    -fx-end-margin: 10px;
    -fx-padding: 10px 15px;
}

.chatIcon {
    -fx-background-image: url("/sources/icons.png");
    -fx-background-position: -185px -96px;
    -fx-background-size: 487px 462px;
}

.readIcon {
    -fx-background-image: url("/sources/icons.png");
    -fx-background-position: -376px -322px;
    -fx-background-size: 487px 462px;
}

.contactIcon {
    -fx-background-image: url("/sources/icons.png");
    -fx-background-position: -220px -96px;
    -fx-background-size: 487px 462px;
}

.dropDownIcon {
    -fx-background-image: url("/sources/icons.png");
    -fx-background-position: -434px -398px;
    -fx-background-size: 487px 462px;
    -fx-border-width: 0;
    -fx-background-color: transparent;
}

#contactList {
    -fx-padding: 0;
}

.list-view {
    -fx-background-color: transparent;
    -fx-padding: 0 0 10 0;
}

/*-fx-padding: for giving padding space in between the class block
-fx-border-color: this give the color for the border of the class
-fx-background-radius: makes the background fill radius
-fx-background-color: fills the background with the color like red,gree, blue etc.
-fx-opacity: the opacity of the class between [0.0-1.0]
-fx-background-inset: it’s the insets spaces of specific class.*/

/*scroll bar 参见 doc文件夹*/
.list-view .scroll-bar:horizontal {
    -fx-pref-height: 0;
}

.list-view .scroll-bar:vertical {
    -fx-background-color: transparent;
}

.list-view .scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
    -fx-border-radius: 2em;
}

.list-view .scroll-bar:vertical .increment-button,
.list-view .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 10 0 0;
}

.list-view .scroll-bar .increment-arrow,
.list-view .scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}

.list-view .scroll-bar:vertical .thumb {
    -fx-background-color: derive(black, 90%);;
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;

}

.list-cell {
    -fx-background-color: transparent;
}

.list-cell:selected {
    -fx-background-color: #3a3f45;
}

.scrollMsg {
    -fx-background-color: transparent;
    -fx-border-width: 1px 0px 1px 0px;
    -fx-border-color: #dddddd;
}

.topContactName {
    -fx-background-color: transparent;
    -fx-padding: 0 15 0 15;
    -fx-border-width: 0;
}

.msgContent {
    -fx-border-width: 0;
}
