.qrCode {
    -fx-end-margin: auto;
    -fx-start-margin: auto;
}

.root {
    -fx-background-color: #f2f2f2;
}

#scanLb {
    -fx-font-size: 18px;
}

.avatar {
    -fx-padding: 10px;
    -fx-background-color: red;
}

.expressions {
    -fx-background-image: url("https://res.wx.qq.com/a/wx_fed/webwx/res/static/css/5af37c4a880a95586cd41c5b251d5562@1x.png");
    -fx-background-position: -404px -398px;
    -fx-background-size: 487px 462px;
}

.cuts {
    -fx-background-image: url("https://res.wx.qq.com/a/wx_fed/webwx/res/static/css/5af37c4a880a95586cd41c5b251d5562@1x.png");
    -fx-background-position: -30px -432px;
    -fx-background-size: 487px 462px;
}

.files {
    /*-fx-background-image: 'sources/icons.png';*/
    /*-fx-background-position: -404px -398px;*/
    /*-fx-background-size: 487px 462px;*/
}

.sendBtn {
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-text-fill: #e85347;
}